<br><br><br><br><br>
<h1 style="text-align:center;">Product Details</h1>
<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap">
  <div> <a href="#"><img style="margin-top:200px; margin-left: 20px;" width="600px" height="400px" src="../../assets/Lgtv.jpg"></a></div>
</div> <!-- slider-product.// -->

</article> <!-- gallery-wrap .end// -->
		</aside>
		<aside class="col-sm-7">
<article class="card-body p-5">
	<h3 class="title mb-3">LG 195 cms (77 inches) 4K Ultra HD Smart OLED TV OLED77C9PTA | with Built-in Alexa (Dark Meteo Titanium) (2019 Model)</h3>

<p class="price-detail-wrap"> 
	<span class="price h3 text-warning"> 
		<span class="currency">INR Rs</span><span class="num">7,99,999</span>
	</span> 
	
</p> <!-- price-detail-wrap .// -->
<dl class="item-property">
  <dt>Description</dt>
  <dd><p> <li>Resolution: 4K Ultra HD (3840x2160) | Refresh Rate: 60 hertz</li>
			<li>Connectivity : 4 HDMI ports to connect set top box, Blue Ray players 
| 				3 USB ports to connect hard drives and other USB devices</li>
			<li>Sound : 40 Watts Output | AI sound | Dolby vision - Atmos</li>
			<li>Display : OLED Panel Display |AI picture | 4K Cinema HDR with Dolby vision</li>
			<li>Warranty Information: 1 Year LG India Comprehensive Warranty and additional 1 year Warranty is applicable on panel/module</li>

  </p></dd>
</dl>
<dl class="param param-feature">
  <dt>Model#</dt>
  <dd>OLED77C9PTA
</dd>
</dl>  <!-- item-property-hor .// -->
<dl class="param param-feature">
  <dt>Color</dt>
  <dd>Black and white</dd>
</dl>  <!-- item-property-hor .// -->
<dl class="param param-feature">
  <dt>Delivery</dt>
  <dd>Across All India</dd>
</dl>  <!-- item-property-hor .// -->

<hr>
	<div class="row">
		<div class="col-sm-5">
			<dl class="param param-inline">
			  <dt>Quantity: </dt>
			  <dd>
			  	<select class="form-control form-control-sm" style="width:70px;">
			  		<option> 1 </option>
			  		<option> 2 </option>
			  		<option> 3 </option>
			  	</select>
			  </dd>
			</dl>  <!-- item-property .// -->
		</div> <!-- col.// -->
	</div> <!-- row.// -->
	<hr>
	<a href="#" class="btn btn-lg btn-primary text-uppercase"> Buy now </a>
	<a href="#" class="btn btn-lg btn-outline-primary text-uppercase " style="margin-left: 20px;" > <i class="fas fa-shopping-cart"></i> Add to cart </a>
</article> <!-- card-body.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
