<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="panel panel-default panel-order">
  <div class="panel-heading " style="margin-left: 20px;">
      <h1 style="text-align: center;">My orders</h1>
  </div>

  <hr>
<div class="panel-body">
  	<div class="row">
	  <div class="col-md-2"><img src="../../assets/Lgtv.jpg" width="150px" height="100px"></div>
	  <div class="col-md-10">
		<div class="row">
		  <div class="col-md-12">
			<div class="pull-right"><label style="color:black; font-size: 20px;">Dispatched</label> </div>
			<span><strong>Order name : </strong></span> <span class="label label-info">LG 195 cms (77 inches) 4K Ultra HD Smart OLED TV</span><br>
			Quantity : 2 <br> Total cost: Rs. 15,99,998 <br>
		  </div>
		</div>
	  </div>
    </div>
    
    <hr>
  	<div class="row">
	  <div class="col-md-2"><img src="../../assets/mac.jpg" width="150px" height="150px"></div>
	  <div class="col-md-10">
		<div class="row">
		  <div class="col-md-12">
			<div class="pull-right"><label style="color:black; font-size: 20px;">Dispatched</label> </div>
			<span><strong>Order name : </strong></span> <span class="label label-info">Apple MacBook Pro (13-inch, 8GB RAM, 256GB Storage, 2.4GHz Intel Core i5) - Space Grey</span><br>
			Quantity : 2 <br> Total Cost: Rs. 2,00,000  <br>
		  </div>
		</div>
	  </div>
	</div>
	<hr>
	<br><br>
	<div class="form-group text-center">
		<a routerLink="/">
			<button class="btn btn-outline-success">
				Back To home
			</button>
		</a>
	</div>


	<footer class="bg-white">
		<div class="container py-5">
			<div class="row py-3">
				<div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
					<h6 class="text-uppercase font-weight-bold mb-4">About</h6>
					<ul class="list-unstyled mb-0">
						<li class="mb-2"><a href="#" class="text-muted">Contact Us</a></li>
						<li class="mb-2"><a href="#" class="text-muted">About Us</a></li>
						<li class="mb-2"><a href="#" class="text-muted">Stories</a></li>
						<li class="mb-2"><a href="#" class="text-muted">Press</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
					<h6 class="text-uppercase font-weight-bold mb-4">Help</h6>
					<ul class="list-unstyled mb-0">
						<li class="mb-2"><a href="#" class="text-muted">Payments</a></li>
						<li class="mb-2"><a href="#" class="text-muted">Shipping</a></li>
						<li class="mb-2"><a href="#" class="text-muted">Cancellation</a></li>
						<li class="mb-2"><a href="#" class="text-muted">Returns</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
					<h6 class="text-uppercase font-weight-bold mb-4">Policy</h6>
					<ul class="list-unstyled mb-0">
						<li class="mb-2"><a href="#" class="text-muted">Return Policy</a></li>
						<li class="mb-2"><a href="#" class="text-muted">Terms Of Use</a></li>
						<li class="mb-2"><a href="#" class="text-muted">Security</a></li>
						<li class="mb-2"><a href="#" class="text-muted">Privacy</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
					<h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
					<ul class="list-unstyled mb-0">
						<li class="mb-2"><a href="#" class="text-muted">Login</a></li>
						<li class="mb-2"><a href="#" class="text-muted">Register</a></li>
						<li class="mb-2"><a href="#" class="text-muted">Sitemap</a></li>
						<li class="mb-2"><a href="#" class="text-muted">Our Products</a></li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6 mb-lg-0">
					<h6 class="text-uppercase font-weight-bold mb-4">Registered Office Address</h6>
					<p class="text-muted mb-4">Kunal Icon , near Pimple Saudagar , Pune , 411027</p>
					<ul class="list-inline mt-4">
						<li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab fa-2x fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-2x fa-facebook-f"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab fa-2x fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fab fa-2x fa-youtube"></i></a></li>
						<li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fab fa-2x fa-google"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<hr class="p-0 m-0 b-0">
		<div class="bg-light py-2">
			<div class="container text-center">
				<p class="text-muted mb-0 py-2">© 2020 E-com All rights reserved.</p>
			</div>
		</div>
	</footer>
  



  

</div>
                
<br><br><br>
