<br><br>
<div class="row">

    <div class="col-lg-4"></div>
    <div class="col-lg-4 text-left rounded" style="background-color: #072654;">
        <div class="form-group text-center">
            <img src="../../assets/ecom-uprise_4x (1).jpg" width="250px" height="150px" alt="">
        </div>
        <div class="form-group">
            <label style="color: lightcyan;" >Full Name :<span style="color: red;">*</span> </label>
            <input required type="text" class="form-control" name="" id="" placeholder="Enter Your Full Name">
        </div>
        <div class="form-group">
            <label style="color: lightcyan;" >Mobile Number :<span style="color: red;">*</span> </label>
            <input required type="number" class="form-control" name="" id="" placeholder="Enter Your Mobile Number">
        </div>
        <div class="form-group">
            <label style="color: lightcyan;" >Date Of Birth :<span style="color: red;">*</span></label>
            <input required type="date" class="form-control" name="" id="" placeholder="Enter Your DOB">
        </div>
        <div class="form-group">
            <label style="color: lightcyan;" >Address :<span style="color: red;">*</span> </label>
            <input required type="text" class="form-control" name="" id="" placeholder="Enter Your Address">
        </div>
        <div class="form-group">
            <label style="color: lightcyan;" >City :<span style="color: red;">*</span></label>
            <input required type="city" class="form-control" name="" id="" placeholder="Enter Your City">
        </div>
        <div class="form-group">
            <label style="color: lightcyan;" >Pin Code :<span style="color: red;">*</span> </label>
            <input required type="pincode" class="form-control" name="" id="" placeholder="Enter Your PinCode ">
        </div>
        <div class="form-group">
            <label  style="color: lightcyan;" >Email :<span style="color: red;">*</span> </label>
            <input required type="email" class="form-control" name="" id="" placeholder="Enter Your Email ID">
        </div>
        <div class="form-group" style="color: lightcyan;">
            <label>Password :<span style="color: red;">*</span></label>
            <input required type="password" class="form-control" name="" id="" placeholder="Enter Your Password">
        </div>
        <div class="form-group text-center">
           <a href="/login">
            <button  class="btn btn-info text-right">
                Register
            </button>
           </a>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>

<br><br>


<footer class="bg-white">
    <div class="container py-5">
        <div class="row py-3">
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">About</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" class="text-muted">Contact Us</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">About Us</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Stories</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Press</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Help</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" class="text-muted">Payments</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Shipping</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Cancellation</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Returns</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Policy</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" class="text-muted">Return Policy</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Terms Of Use</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Security</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Privacy</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a href="#" class="text-muted">Login</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Register</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Sitemap</a></li>
                    <li class="mb-2"><a href="#" class="text-muted">Our Products</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Registered Office Address</h6>
                <p class="text-muted mb-4">Kunal Icon , near Pimple Saudagar , Pune , 411027</p>
                <ul class="list-inline mt-4">
                    <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fab fa-2x fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fab fa-2x fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fab fa-2x fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fab fa-2x fa-youtube"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fab fa-2x fa-google"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="p-0 m-0 b-0">
    <div class="bg-light py-2">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2">© 2020 E-com All rights reserved.</p>
        </div>
    </div>
</footer>